body {
    margin: 0;
    background: white;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    color: #999999;
    font-size: 0.9em; /* Adjusted font size for body */
}

.centered-image img {
    max-width: 30%; /* Reduced the max-width for a smaller image */
    height: auto;
}

h1 {
    font-size: 1.5em; /* Reduced font size for the main heading */
    color: black;
}

.contact-info {
    font-size: 0.9em; /* Reduced font size for contact info */
    margin-top: 8px;
}

.cv-link {
    margin-top: 20px;
    font-size: 0.9em; /* Reduced font size for links */
}

.cv-link a {
    padding: 0 4px;
}
