body {
    margin: 0;
    background: white;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    color: #999999; /* Sets default text color to #999999 */
    text-decoration: underline; /* Underlines all text by default */
}

.centered-image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.centered-image img {
    max-width: 50%;
    height: auto;
}

/* Styling for specific elements to be black and not underlined */
h1, .contact-info p {
    color: black; /* Sets these elements to black */
    text-decoration: none; /* Removes underline */
}

.contact-info {
    font-size: 1em;
    margin-top: 10px;
}

.contact-info p {
    text-decoration: none; /* Ensures paragraphs within .contact-info are not underlined */
}

/* Styling for all links and separators */
.contact-info a,
.cv-link a,
.separator {
    color: #999999; /* Sets links and separators to #999999 */
    text-decoration: underline; /* Underlines links and separators */
}

.cv-link {
    margin-top: 30px;
    font-size: 1em;
}

.cv-link a {
    padding: 0 5px;
}
